*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
 
    width: fit-content;
    padding-right: 20px;

}
.heading{
   
    text-align: center;
    padding: 20px;
}
.heading>.p{
    padding-left: 30%;
    padding-right: 30%;
}
.Top-section,.Bottom-section{
    
    width: 100%;
    height: auto;
    margin-left: 20px;
   display: flex;
   justify-content: center;
 box-sizing: border-box;
  
}
.Top-section>.doctorcard,.Bottom-section>.bottomcard{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin:10px ;
    width:250px;
   
}

.Top-section>.doctorcard>.img>img{  
   width: 100%;
   border-radius: 10px 10px 0 0;
}
.content,.content1{
    text-align: center;
    font-size: 10px;
}
.content>p,.content1>p{
   padding-top: 10px;
}
.content>.p,.content1>.p1{
    padding-left: 20px;
    padding-right: 20px;
 }

.Top-section>.doctorcard>.button>p{
      font-size: 10px;   
}
.Top-section>.doctorcard>.button{
   display: flex;
   justify-content:space-around;
   padding: 20px; 
   cursor: pointer;
}
.Top-section>.doctorcard>.button>.button1{
  
     background-color: whitesmoke;
     color: aqua;
     padding: 5px;
     border-radius: 10px;
   
    
 }
 .Top-section>.doctorcard>.button>.button2{
  
    background-color: orangered;
    color: white;
    padding: 5px;
    border-radius: 10px;
    
 
}
.Bottom-section>.bottomcard>.img1>img{
   padding-left: 40%;
   padding-top: 20px;
}
.content1>h3{
    padding-top: 20px;
}
.content1>.p1{
  word-spacing: 3px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.Bottom-section{ 
  display: grid;
  padding-inline: 50px;
  grid-template-columns: repeat(3,1fr); 
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .Top-section,.Bottom-section{

        display: grid;
        grid-template-columns: repeat(3,1fr);
     
    }

}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .Top-section{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
      
         width: fit-content;
     
    }
    .Bottom-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
      
         width: fit-content;
         padding: 0px;
    
       
    }
    body{
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width:570px) {
    .Top-section{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    
         width: fit-content;
     
    }
    .Bottom-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        
         width: fit-content;
         padding: 0px;
    
       
    }
    .heading{
        font-size: 10px;
       
    }
    .heading{
   
        text-align: center;
        padding: 10px;
    }
    .heading>.p{
        padding-left: 10%;
        padding-right: 10%;
    }
    .Bottom-section{
        margin-top: 0px;
    }
    .Top-section{
        height: auto;
    }
    body{
        display: flex;
        justify-content: center;
    }
}